<% provide(:title, 'Home') %>

<h1>Welcome to Photo Builder Application</h1>

<center>
<p>Here you can build your own album and can comment over each photo </p>
<%= link_to "Sign up now!", new_user_path, class: "btn btn-large btn-primary" %>
</center>
